body {
    color: #84b1cb !important;
    img,
    #typing {
        pointer-events: none;
        user-select: none;
    }

    #preloader {
        font-size: 100px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: visible;
        display: grid;
        background-color: #6b6e70;
        font-weight: bolder;
        color: white;

        .line {
            background-color: white;
            height: 100%;
            width: 0%;
            position: absolute;
            mix-blend-mode: difference;
            animation: loading 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-delay: 0.5s;
        }

        span:last-child {
            font-size: 0.6em;
        }

        & > div {
            justify-self: center;
            align-self: center;
            position: absolute;
        }
    }

    header {
        background-color: #070707;
        line-height: 3em;
        font-size: 20px;
        top: 0;
        z-index: 20;
        position: sticky;
        width: 100%;
        #logo {
            font-size: 35px;
            & > :last-child {
                font-size: 17px;
            }
        }
    }

    main {
        background-color: #6b6e70;
        padding: 40px 0;

        .container {
            padding: 20px 0;
        }

        #typing {
            background-color: #f0f0f0;
            color: #070707;

            div {
                padding: 10px;
                /*.flexxx {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: 0.4;
                    padding: 0;
                }*/
                .box {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                        background: url("/media/Ghouls/7sku.gif");
                        transition: all 0.3s ease;
                        opacity: .1;
                    }
                }
                &:last-child {
                    font-size: 55px;
                    align-self: center;
                    text-align: center;
                    .typed-cursor {
                        opacity: 1;
                        font-weight: 100;
                        animation: blink 0.7s infinite;
                    }
                }
            }
        }

        #info {
            & > div:not(.m100) {
                border: 0.1px solid #070707;
                border-radius: 0px;
                width: 365px;
                height: auto;
                cursor: pointer;
                background-color: #070707;
                padding: 0;
                .headBlog {
                    text-transform: uppercase;
                    padding: 4px 0px 0px;
                    span {
                        padding-left: 3px;
                    }
                    /*&::after {
                        content: "";
                        display: block;
                        height: 1px;
                        background: white;
                    }*/
                }

                .bodyBlog {
                    text-transform: uppercase;
                    padding: 3px;
                    color: white;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        #MyBestFriends {
            .accordion {
                display: flex;
                width: auto;
                justify-content: center;
                min-height: 400px;
                .width {
                    margin: 0 auto;
                }

                .collapse {
                    overflow: auto;
                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                }

                & .card {
                    background-color: #f0f0f0;
                    flex-direction: row;
                    flex-grow: 0;
                    flex-shrink: 1;
                    min-width: min-content;
                    max-height: 550px;
                    .card-header {
                        background-color: #f0f0f0;
                        cursor: pointer;
                        padding: 0 !important;
                        color: #070707;
                        border-color: #f0f0f0;
                        border-radius: calc(0.25rem - 1px);
                        &:not(.collapsed) {
                            pointer-events: none;
                        }

                        & > span {
                            font-size: 18px;
                            letter-spacing: 4px;
                            writing-mode: vertical-lr;
                            transform: rotate(-180deg);
                            padding: 5px 0;
                        }
                    }

                    &:not(:first-child):not(:last-child) {
                        border-radius: 0 0 0 0;
                    }

                    &:first-child {
                        border-radius: 0.25rem 0 0 0.25rem;
                    }

                    &:last-child {
                        border-radius: 0 0.25rem 0.25rem 0;
                    }

                    .card-body {
                        @media (min-width: 1100px) {
                            min-width: 900px;
                            max-width: 900px;
                        }
                        @media (min-width: 900px) and (max-width: 1099px) {
                            min-width: 700px;
                            max-width: 700px;
                        }
                        @media (min-width: 700px) and (max-width: 899px) {
                            min-width: 500px;
                            max-width: 500px;
                        }
                        @media (min-width: 376px) and (max-width: 699px) {
                            min-width: 200px;
                            max-width: 200px;
                        }
                        @media (max-width: 375px) {
                            width: 100%;
                        }
                        div:not(.row) {
                            margin: 0 auto;
                            margin-top: 10px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .collapsing.width {
                    transition: width 0.35s ease;
                    height: auto;
                    width: 0;
                }
            }

            a {
                width: 170px;
                margin-bottom: 20px;
            }

            .display-2 {
                text-align: center;
                padding: 10px 0;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(-191deg, #070707 0%, #84b1cb 30%, #f0f0f0 100%);
            }
        }
    }

    @keyframes loading {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .width-100 {
        width: 100%;
    }

    .m0-auto {
        margin: 0 auto;
    }
}

/*.dragDick {
    height: 100px;
    width: 100px;
    img {
        height: 100px;
        width: 100px;
        transform: rotate(-20deg);
    }
}
<div class="dragDick ui-widget-content">
        <img src="media/external-content.duckduckgo.png" alt="">
    </div>

$(function () {
    $(".dragDick").draggable();
});
*/
