body {
    color: white !important;
    header {
        background-color: #282828;
        line-height: 3em;
        font-size: 20px;
        #logo {
            font-size: 35px;
            & > :last-child {
                font-size: 17px;
            }
        }
    }

    main {
        background-color: #6F2232;
        padding: 20px 0;
        #info {
            padding: 50px 0;
            & > div:not(.w-100) {
                border: 1px solid #282828;
                border-radius: 10px;
                height: auto;
                cursor: pointer;
                background-color: #282828;
                margin: 5px 5px;
                .headBlog {
                    text-transform: uppercase;
                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        background: white;
                    }
                }

                .bodyBlog {
                    text-transform: uppercase;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        #sortable {
            color: black;
            li {
                cursor: pointer;
            }
        }
    }
}